<div class="films-list__element">
    <div class="films-list__image">
        <img src="{{ Model.ContentItem.Content.Film.Images.Paths.first | asset_url }}" alt="image">

        <div class="films-list__time">
            <span>{{ Model.ContentItem.Content.Film.Runtimeminutes.Value | divided_by: 60 }}:{{ Model.ContentItem.Content.Film.Runtimeminutes.Value | modulo: 60 | prepend: '00' | slice: -2, 2 }}</span>
        </div>

        <div class="films-list__description">
            <a href="film-detail.html">
                <h5>WATCH NOW</h5>
            </a>
            <a href="film-detail.html">
                <span>ADD TO WATCHLIST</span>
            </a>
        </div>
    </div>

    <div class="films-list__title">
        <h5>{{ Model.ContentItem.Content.TitlePart.Title }}</h5>
    </div>            
</div>