{% script source:"https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.2/js/swiper.min.js", at:"Foot" %}
{% script source:"/LGIMediaTheme/js/home.js", at:"Foot" %}
{% style src:"https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.2/css/swiper.min.css" %}
{% style src:"/LGIMediaTheme/css/swiperSlider.css" %}

{% zone "Header" %}
    {% if Model.ContentItem.Content.Carousel.ContentItems.size > 0 %}
    <!-- Start .slider -->
    <!-- Swiper -->
    <div id="slider" class="swiper-container">
      <div class="swiper-wrapper">
        {% for slide in Model.ContentItem.Content.Carousel.ContentItems %}
        <div class="swiper-slide">
          <img id="slide-img" src="{{ slide.CarouselSlide.MainImage.Paths.first | asset_url | resize_url: width: 1024, height: 769, mode: 'stretch' }}">
          <div class="slide-text">
            <a href="#">{{ slide.CarouselSlide.Title.Text }}</a>
            <p>{{ slide.CarouselSlide.ShortDescription.Text }}</p>
          </div>
        </div>
        {% endfor %}

      </div>
      <!-- Add Pagination -->
      <div class="swiper-pagination"></div>
      <!-- Add Arrows -->
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
    <!-- End /.slider -->
    {% endif %}
{% endzone %}

<div class="main-header home">
    <h2>FEATURED FILMS</h2>
</div>

<!-- Start .main -->
<article id="main" class="main">
  <!-- Start .films-gallery -->
  <section class="films-gallery">

    <div class="films-gallery__section">
      {% for image in Model.ContentItem.Content.ShowcaseImages.ContentItems limit:3 %}
      <div class="films-gallery__element">
        <img src="{{ image.HomepageShowcaseImage.Image.Paths.first | asset_url }}" alt="{{ image.HomepageShowcaseImage.Title.Text }}">
        <p>
          <a href="#">{{ image.HomepageShowcaseImage.Title.Text }}</a>
        </p>
      </div>
      {% endfor %}
    </div>
    
    <div class="films-gallery__section">
      {% for image in Model.ContentItem.Content.ShowcaseImages.ContentItems offset:3 limit:3 %}
      <div class="films-gallery__element">
        <img src="{{ image.HomepageShowcaseImage.Image.Paths.first | asset_url }}" alt="{{ image.HomepageShowcaseImage.Title.Text }}">
        <p>
          <a href="#">{{ image.HomepageShowcaseImage.Title.Text }}</a>
        </p>
      </div>
      {% endfor %}
    </div>

    <div class="films-gallery__section">
      {% for image in Model.ContentItem.Content.ShowcaseImages.ContentItems offset:6 limit:3 %}
      <div class="films-gallery__element">
        <img src="{{ image.HomepageShowcaseImage.Image.Paths.first | asset_url }}" alt="{{ image.HomepageShowcaseImage.Title.Text }}">
        <p>
          <a href="#">{{ image.HomepageShowcaseImage.Title.Text }}</a>
        </p>
      </div>
      {% endfor %}
    </div>
    
    <div class="films-gallery__section">
      {% for image in Model.ContentItem.Content.ShowcaseImages.ContentItems offset:9 limit:3 %}
      <div class="films-gallery__element">
        <img src="{{ image.HomepageShowcaseImage.Image.Paths.first | asset_url }}" alt="{{ image.HomepageShowcaseImage.Title.Text }}">
        <p>
          <a href="#">{{ image.HomepageShowcaseImage.Title.Text }}</a>
        </p>
      </div>
      {% endfor %}
    </div>
    
    <a href="/films" class="btn">VIEW ALL FILMS</a> 
  </section>
  <!-- End /.films-gallery -->

  <!-- Start .films-gallery_mobile -->
  <div class="films-gallery_mobile">
    
    {% for image in Model.ContentItem.Content.ShowcaseImages.ContentItems %}
    <div class="films-gallery_mobile__element">
      <img src="{{ image.HomepageShowcaseImage.Image.Paths.first | asset_url }}" alt="{{ image.HomepageShowcaseImage.Title.Text }}">
      <p>{{ image.HomepageShowcaseImage.Title.Text | upcase }}</p>	
    </div>
	{% endfor %}

    <div class="films-gallery_mobile__btn">
      VIEW ALL FILMS
    </div>

  </div>
  <!-- End /.films-gallery_mobile -->
  <!-- Start .partners -->
		<section class="partners">
			<div class="partners__element">
				<img src="/LGIMediaTheme/img/bbc.jpg" alt="partners">
			</div>

			<div class="partners__element">
				<img src="/LGIMediaTheme/img/bbc.jpg" alt="partners">
			</div>

			<div class="partners__element">
				<img src="/LGIMediaTheme/img/bbc.jpg" alt="partners">
			</div>

			<div class="partners__element">
				<img src="/LGIMediaTheme/img/bbc.jpg" alt="partners">
			</div>

			<div class="partners__element">
				<img src="/LGIMediaTheme/img/bbc.jpg" alt="partners">
			</div>

			<div class="partners__element">
				<img src="/LGIMediaTheme/img/bbc.jpg" alt="partners">
			</div>

			<div class="partners__element">
				<img src="/LGIMediaTheme/img/bbc.jpg" alt="partners">
			</div>
		</section>
		<!-- End /.partners -->

	</article>
	<!-- End /.main -->