{% zone "MenuClass" %}sticky{% endzone %}

{% zone "Header" %}
<!-- Start .films-header -->
<div class="films-header">
    <div class="films-header__title">
        <h2>{{ Model.ContentItem.Content.Films.PageHeading.Text }}</h2>
    </div>

    <div class="input-group">
        <div class="input-group__choice">
            <span>
                Sort By : Latest
                <i class="im im-angle-down"></i>
            </span>
            
            <div class="input-group__dropdown">
                <ul>
                    <li>Latest</li>
                    <li>Date</li>
                    <li>Time</li>
                </ul>
            </div>
        </div>

        <div class="input-group__choice">
            <span>
                Genre : All
                <i class="im im-angle-down"></i>
            </span>
            
            <div class="input-group__dropdown">
                <ul>
                    <li>All</li>
                    <li>Natural History</li>
                    <li>Science & Engineering</li>
                </ul>
            </div>
        </div>

        <div class="input-group__search">
            <input type="search" placeholder="search">
            <i class="im im-magnifier"></i>
        </div>
    </div>
</div>
{% endzone %}

{{ Model.Content | shape_render }}
  
<!-- End /.films-list -->