<div class="films-list">      
    {% for item in Model.ContentItems %}
        {{ item | shape_build_display: "Summary" | shape_render }}
    {% endfor %}
</div>


<!-- Start .films-pagination -->
<div class="films-pagination">
    
    {{ Model.ContentItems.ContentType }}

    {% for item in Model.Pager.Items %}
        {{ item | shape_render }}
    {% endfor %}

    {{ Model.Pager | shape_render }}

    <!--<ul class="pagination">
        <li class="pagination__item">
            <a href="#" class="pagination__link select">1</a>
        </li>
        <li class="pagination__item">
            <a href="#" class="pagination__link">2</a>
        </li>
        <li class="pagination__item">
            <a href="#" class="pagination__link">3</a>
        </li>
        <li class="pagination__item">
            <a href="#" class="pagination__link">Show All</a>
        </li>
    </ul>-->
</div>
<!-- End /.films-pagination -->