<!DOCTYPE html>
<html lang="{{ Culture.Name }}">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    {% render_section "HeadMeta", required: false %}

    <title>{% page_title Site.SiteName, position: "before", separator: " - " %}</title>

    {% resources type: "Stylesheet"  %}
    {% resources type: "HeadScript"  %}

	<!-- My CSS -->
	<link rel="stylesheet" href="/LGIMediaTheme/css/style.css">
</head>
<body dir="{{ Culture.Dir }}">
	<!-- Start #header -->
	<header id="header">
		<nav id="nav" class="header {% render_section "MenuClass", required: false %}">
			<div class="header__logo">
				<a href="/">LGI MEDIA</a>
			</div>

             {% shape "menu", alias: "alias:main-menu", cache_id: "main-menu", cache_duration: "00:05:00", cache_tag: "alias:main-menu" %}
		</nav>
	</header>
	<!-- End /#header -->

	<!-- Start .search-popup -->
	<div id="search_popup" class="search-popup hide">
		<i id="search_popup_close" class="im im-x-mark search-popup__close"></i>

		<input type="search" placeholder="SEARCH OUR COLLECTION">
		<div class="search-popup__button">
			<span>Search </span>
			<i class="im im-magnifier" aria-hidden="true"></i>
		</div>
	</div>
	<!-- End /.search-popup -->
    
    {% render_section "Header", required: false %}
    {% render_section "Content", required: false %}
    
	<!-- Start .footer -->
    {% render_section "Footer", required: true %}

	<!-- Main JS -->
	<script src="/LGIMediaTheme/js/main.js"></script>

    {% resources type: "FootScript"  %}
</body>
</html>