<div class="header__links">
    <ul>
        {% for item in Model.Items %}
        {{ item | shape_render }}
        {% endfor %}

        <li>
            <a href="#" id="search" class="header__search"><i class="im im-magnifier"></i></a>
        </li>
    </ul>
</div>

<div class="header__links_mobile">
    <div id="button_mobile" class="header__button_mobile">
        {% for item in Model.Items %}
         <div></div>
        {% endfor %}

        <div></div>
    </div>

    <div id="menu_mobile" class="header__menu_mobile hide">
        <i id="close_menu" class="im im-x-mark header__close-menu"></i>

        <ul>
            {% for item in Model.Items %}
            {{ item | shape_render }}
            {% endfor %}

            <li>
                <a href="#" id="search_mobile" class="header__search">Search</a>
            </li>
        </ul>
    </div>
</div>

